/* get font(s) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@500&family=VT323&display=swap');


/* menubar stuff */

.table{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  order:1;
}


input{
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #b4b8ba;
  background: rgb(7, 97, 29);
  font-size: 12px;
  border: 1px solid rgba(79, 79, 80, 0.07);
}


.not-found{
  color: #3698c9;
}


/* committee header stuff */


/* general stuff */
html {
    background-color: #171717 !important;
    margin: 2em;
}

h1 {
  color: #1db954;
  font-family: monospace;
  /*display: flex; */
  text-align: center;
  padding-top: 1em;
  size: 30px;
}

body {
    /*margin-right: 6rem;
    margin-left: 6rem;*/

    color: #1db954;
    font-family: monospace;
    /*display: flex; */
    text-align: center;
    padding-top: 1em;
    size: 14px;
}

p {
    font-size: 12px;
    margin: 0;
    color: #cad4da;
    text-align: center;
    font-family: monospace;
}



/* .modal-content label, .modal-content input, .modal-content button {
  margin: 10px 0;
} */


.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-template-columns: 1fr 1fr 1fr; */
  width: 100%
  }
  
  td, th {
  font-size: large;
  border: 1px solid #9eaaaa;
  text-align: match-parent;
  padding: 12px;
  }
  
  
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 }

.spread-btn {
  padding: 10px 15px;
  background-color: rgb(7, 97, 29);
  color: #b4b8ba;
  border: none;
  border-radius: 5px;
  font-family: monospace;
  font-size: 14px;
  cursor: pointer;
}

.spread-btn:hover {
  background-color: #1db954;
  color: #fff;
}


  
  
  a {
    color: #3698c9;
    font-weight: bold;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 1s ease-in;
  }
  a:hover{ 
    color:#4759b3; background: #14141a; }
  
  
  ::selection {
    color: #edeef0;
    background: rgb(14, 155, 171);
  }
  

  pre {
      margin-top: 0;
    }

    dt + dd {
      margin-bottom: 0.5em;
    }
    
    dt { font-weight: lighter; border-top: 1px dashed rgb(116, 115, 122); font-size: 20px;}

