/* get font(s) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@500&family=VT323&display=swap');


/* menubar stuff */

.table{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  order:1;
}


input{
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #b4b8ba;
  background: rgb(7, 97, 29);
  font-size: 12px;
  border: 1px solid rgba(79, 79, 80, 0.07);
}


.not-found{
  color: #36c94f;
}


/* committee header stuff */


/* general stuff */
html {
    background-color: #171717 !important;
    margin: 2em;
}

h1 {
  color: #1db954;
  font-family: monospace;
  /*display: flex; */
  text-align: center;
  padding-top: 1em;
  size: 30px;
}

body {
    /*margin-right: 6rem;
    margin-left: 6rem;*/

    color: #14883c;
    font-family: monospace;
    /*display: flex; */
    text-align: center;
    padding-top: 1em;
    size: 14px;
}

p {
    font-size: 12px;
    margin: 0;
    color: #cad4da;
    text-align: center;
    font-family: monospace;
}



/* .modal-content label, .modal-content input, .modal-content button {
  margin: 10px 0;
} */

.filter-button {
  appearance: none;
  background-color: #0c0e0c28;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #abb4ab;
  cursor: pointer;
  font-family: monospace;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 16px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.filter-button:disabled {
  pointer-events: none;
}

.filter-button:hover {
  color: #e0e4e0;
  background-color: #1b1c1b;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.filter-button:active {
  box-shadow: none;
  transform: translateY(0);
}

button {
  padding: 5px 10px;
  background-color: rgb(19, 57, 29);
  color: #b4b8ba;
  border: none;
  border-radius: 5px;
  font-family: monospace;
  font-size: 14px;
  cursor: pointer;
  margin: 0.5em;
}

.toggle-btn {
  padding: 10px 15px;
  background-color: #1a5a1f75;
  color: #82998e;
  border: #c0ceca5e;
  border-radius: 5px;
  font-family: monospace;
  font-size: 12px;
  cursor: pointer;
  margin: 1em;
}

.toggle-btn:hover {
  color: #e0e4e0;
  background-color: #1a581f65;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-template-columns: 1fr 1fr 1fr; */
  width: 100%
  }
  
  td, th {
  font-size: large;
  border: 1px solid #5b655e69;
  text-align: match-parent;
  padding: 12px;
  }
  
  
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 }

.spread-btn {
  padding: 10px 15px;
  background-color: rgb(7, 97, 29);
  color: #b4b8ba;
  border: none;
  border-radius: 5px;
  font-family: monospace;
  font-size: 14px;
  cursor: pointer;
}

.spread-btn:hover {
  background-color: #1db954;
  color: #fff;
}


  
  
  a {
    color: #36c95b;
    font-weight: bold;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 1s ease-in;
  }
  a:hover{ 
    color:#289b45; background: #14141a; }
  
  
  ::selection {
    color: #edeef0;
    background: rgb(19, 68, 47);
  }
  

  pre {
      margin-top: 0;
    }

    dt + dd {
      margin-bottom: 0.5em;
    }
    
    dt { font-weight: lighter; border-top: 1px dashed rgba(108, 112, 108, 0.474); font-size: 20px;}

