{% extends 'base.html' %}

{% block body %}
<h1>{% block header %} Let's make some new playlists based on your old favorites {% endblock header %}</h1>
<body> The boxes beneath will allow you to view the songs within your songs by playlist, by artist, and by genre. </br>
  Select your favorites, or select entire boxes to generate a playlist of your choosing! </body>

<!-- Buttons to switch between views -->
<div>
  <button class="filter-button" onclick="window.location.href='/spotify-info'">View by Playlist</button>
  <button class="filter-button" onclick="window.location.href='/spotify-info/genre'">View by Genre</button>
  <button class="filter-button" onclick="window.location.href='/spotify-info/artist'">View by Artist</button>
</div>

<dl>
  {% for artist in ar %}
    <dt>
      <p></p>
      <button class="toggle-btn" data-target="artist-{{artist}}">
      {{ artist }}
    </button>
    <button class="create-playlist-btn" onclick="createPlaylist('{{ artist }}')">Create Playlist</button>
  </dt>
    <dd id="artist-{{artist}}" class="hidden">
      <pre>
        {% for song in (sg[artist].values()) %}
           <p>{{ song }}</p>
        {% endfor %}
      </pre>
    </dd>
  {% endfor %}
</dl>

<script>
  var songs = {{ sg | safe}}; //to get the dictionary of songs by artist

  document.addEventListener('DOMContentLoaded',() =>{
    const toggleButtons = document.querySelectorAll('.toggle-btn');

    toggleButtons.forEach(button => {
      button.addEventListener('click',() => {
        const targetId = button.getAttribute("data-target");
        const targetElement = document.getElementById(targetId);

        if (targetElement.classList.contains("hidden")){
          targetElement.classList.remove("hidden");
        } else{
          targetElement.classList.add("hidden");
        }
      });
    });
  });


  //name of playlist will be artist name
  function createPlaylist(playlistName) {
    var songsByGenre = songs[playlistName]; //get songs by specific artist
    const trackIDs = Object.keys(songsByGenre); //get track IDs to create playlist with

    fetch(`/create-playlist/${playlistName}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ track_ids: trackIDs }), //send track IDs to create playlist
      }).then(response => {
      if (response.ok) {
        alert(`Playlist '${playlistName}' created successfully!`);
      } else {
        alert(`Failed to create playlist '${playlistName}'.`);
      }
    });
  }
</script>
<style>
  .hidden{
    display:none;
  }
</style>

{% endblock body %}