{% extends 'base.html' %}

{% block body %}
<h1>{% block header %} Let's make some new playlists based on your old favorites {% endblock header %}</h1>
<body> The boxes beneath will allow you to view the songs within your songs by playlist, by artist, and by genre. </br>
  Select your favorites, or select entire boxes to generate a playlist of your choosing! </body>

<!-- Buttons to switch between views -->
<div>
  <button class = "filter-button" onclick="window.location.href='/spotify-info'">View by Playlist</button>
  <button class = "filter-button" onclick="window.location.href='/spotify-info/genre'">View by Genre</button>
</div>

<dl>
  {% for genre in gn %}
    <dt>
      <p></p>
      <button class="toggle-btn" data-target="genre-{{genre}}">
      {{ genre }}
    </button></dt>
    <dd id="genre-{{genre}}" class="hidden">
      <pre>
        {% for song in sg[genre] %}
           <p>{{ song }}</p>
        {% endfor %}
      </pre>
    </dd>
  {% endfor %}
</dl>

<script>
  document.addEventListener('DOMContentLoaded',() =>{
    const toggleButtons = document.querySelectorAll('.toggle-btn');

    toggleButtons.forEach(button => {
      button.addEventListener('click',() => {
        const targetId = button.getAttribute("data-target");
        const targetElement = document.getElementById(targetId);

        if (targetElement.classList.contains("hidden")){
          targetElement.classList.remove("hidden");
        } else{
          targetElement.classList.add("hidden");
        }
      });
    });
  });
</script>

<style>
  .hidden{
    display:none;
  }
</style>

{% endblock body %}

